In [1]:
import pandas as pd

In [2]:
E = pd.read_csv("toto_e.csv")
RT = pd.read_csv("toto_rt.csv", sep=";")
NT = pd.read_csv("toto_nt.csv")
R = pd.read_csv("toto_r.csv")

In [ ]:
for i in E.name: 
    if ">" not in i:
        print(i)

In [40]:
phrase = "toto sale Suisse"
#phrase = "toto dÃ©bile"
mots = phrase.split(" ")
print(mots)

['toto', 'sale', 'Suisse']

In [41]:
eids = {}

for mot in mots: 
    eids[int(E.loc[E['name'] == mot]['eid'])] = mot
    
print(eids)

{146753: 'toto', 142663: 'sale', 143431: 'Suisse'}

In [44]:
tmp = 0 
corr = 0

for eid1 in eids: 
    for eid2 in eids : 
        tmp = R.loc[R['node1'] == str(eid1)].loc[R['node2'] == str(eid2)]['w'].astype('int32').sum()
        corr += tmp
        if tmp != 0 : 
            print(str(tmp) + " : " + str(eids[eid1]) + " -> " + str(eids[eid2]))
            
        #print("tmp : " + str(tmp)) 
        #print("sum : " + str(corr))

print(corr)

toto -> toto = 110
toto -> sale = 21
toto -> Suisse = 115
246

# Big Cell

In [61]:
phrase = "toto sale Suisse"
#phrase = "Toto sale main"
mots = phrase.split(" ")
print(mots)

eids = {}

for mot in mots: 
    eids[int(E.loc[E['name'] == mot]['eid'])] = mot
    
print(eids)

tmp = 0 
corr = 0

for eid1 in eids: 
    for eid2 in eids : 
        tmp = R.loc[R['node1'] == str(eid1)].loc[R['node2'] == str(eid2)]['w'].astype('int32').sum()
        corr += tmp
        if tmp != 0 : 
            print(str(tmp) + " : " + str(eids[eid1]) + " -> " + str(eids[eid2]))
            
        #print("tmp : " + str(tmp)) 
        #print("sum : " + str(corr))

print(corr)

['toto', 'sale', 'Suisse']
{146753: 'toto', 142663: 'sale', 143431: 'Suisse'}
110 : toto -> toto
21 : toto -> sale
115 : toto -> Suisse
246

# Test avec A et B

In [3]:
A = "toto" 
B = "Suisse"


phrase = A + " " + B
#phrase = "Toto sale main"
mots = phrase.split(" ")
print(mots)

eids = {}

for mot in mots: 
    eids[int(E.loc[E['name'] == mot]['eid'])] = mot
    
print(eids)

tmp = 0 
corr = 0

for eid1 in eids: 
    for eid2 in eids : 
        tmp = R.loc[R['node1'] == str(eid1)].loc[R['node2'] == str(eid2)]['w'].astype('int32').sum()
        corr += tmp
        if tmp != 0 : 
            print(str(tmp) + " : " + str(eids[eid1]) + " -> " + str(eids[eid2]))
            
        #print("tmp : " + str(tmp)) 
        #print("sum : " + str(corr))

print(corr)

['toto', 'Suisse']
{146753: 'toto', 143431: 'Suisse'}
110 : toto -> toto
115 : toto -> Suisse
225

In [16]:
idA = 146753
idB = 6370841

R.loc[R['node2'] == str(idB)]

     r        rid   node1    node2 type   w
52   r  331565389  146753  6370841    0  25
136  r  330342546  146753  6370841    5  25

In [11]:
R

     r        rid    node1   node2 type    w
0    r   61944342   146753  114327    0  -28
1    r   92831767   146753   16747    0  -28
2    r   60073909   146753   34898    0  -26
3    r   60077377   146753   77424    0  -22
4    r   60060666   146753   77008    0  -21
..  ..        ...      ...     ...  ...  ...
633  r     438061    25764  146753    0  735
634  r   11612686   317777  146753    0  803
635  r  329247835  6370841  146753    0  805
636  r   13426874   317777  146753    5  809
637  r  329247968  6370841  146753    5  810

[638 rows x 6 columns]