In [4]:
import JDM

In [5]:
t=JDM.Trie() 
t.addword(["avant", "toi"])
t.addword(["avant", "lui"])
t.addword(["pour", "lui"])
t.addword(["avant", "eux"])

rs=t.words()

print(t)
print(rs)

T[{'avant': T[{'toi': T[E,{}], 'lui': T[E,{}], 'eux': T[E,{}]}], 'pour': T[{'lui': T[E,{}]}]}]
['avant toi', 'avant lui', 'avant eux', 'pour lui']

In [6]:
t.searchword(["avant"])

['avant'] is in Trie
['toi', 'lui', 'eux']

# Construction de l'arbre d'id

In [7]:
import pandas as pd

In [8]:
JDM.Terme.initMyLocalDataBase()

In [10]:
f_in = open('MWE/mwe.csv', 'r')
Lines = f_in.readlines()
f_in.close() 

f_out = open("MWE/mwe_id_word.csv", "a")

  
for line in Lines:
    linesplit = line.split(";")
    f_out.write(linesplit[0] + ";" + linesplit[1].replace('\"', '') + "\n")

f_out.close()

In [11]:
df = pd.read_csv("MWE/mwe_id_word.csv", sep=";")

In [12]:
df

               id                                            words
0               9                                avant toute chose
1              15                          sir Sacheverell Sitwell
2              16                                     Maria Callas
3              21                            Marcel Gotlieb Gotlib
4              23                     art et architecture catalans
...           ...                                              ...
1738439  66465572  équipe d'Allemagne féminine de hockey sur glace
1738440  66495297         faculté de médecine de Montpellier-Nîmes
1738441  66495298                                 Vincent Lisowski
1738442  66495449                          Hôpitaux et Universités
1738443  66498566            Association internationale des barmen

[1738444 rows x 2 columns]

In [13]:
from alive_progress import alive_bar

t_search = JDM.Trie() 

with alive_bar(len(df.index), force_tty=None) as bar:
    for index, row in df.iterrows():
        t_search.addword(row['words'].split())
        
        bar()

|████████████████████████████████████████| 1738444/1738444 [100%] in 1:28.7 (19597.61/s)

In [20]:
t_search.searchword(["Lucas", "Eugene"])

['Lucas', 'Eugene'] is in Trie
['Scott']

In [14]:
#rs=t_search.words()

#print(t_search)
#print(rs)

In [ ]:
# Trop long 60 Jours

# from alive_progress import alive_bar

# f_out = open("MWE/mwe_id.csv", "w")

# with alive_bar(len(df.index), force_tty=True) as bar:
#     for index, row in df.iterrows():
#         #print(row['id'], row['words'])
#         line = str(row['id']) + ";"
#         #print(str(row['id']) + ' -> ')
#         for word in str(row['words']).split(" "): 
#             #print(word)
#             #print(JDM.Terme(word).getID())
#             line += str(JDM.Terme(word).getID()) + " "
#         line = line.rstrip()
#         line += ";\n"
#         f_out.writelines(line)
#         bar()

# f_out.close()

In [17]:
df.loc[df['id'] == 9]

   id              words
0   9  avant toute chose

In [16]:
df.loc[df['words'] == "Maria Callas"]

   id         words
2  16  Maria Callas